

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}
/*Nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}


.nav-title{
    font-weight: 800;
    font-size: 28px;
}
nav ul li { 
    list-style: none;
}
.btn-style{
    font-family: 'azeret mono';
    font-weight: bold;
    padding: 24px 17px;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    border opacity: 80%;
}
.banner{
    background-image:url('../assets/Hero-bg.png');
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-conent {
   
    justify-content: center;
    align-items: center;
    text-align: center;}

#btn{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
   
}
.header{
    background-image:url('../assets/Hero-bg.png');
    background-repeat: no-repeat;

}
.center-font{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.front-cont{
padding-left: 110px;
padding-top: 70px;
}
.front{
    display: flex;
}
.cont-pic{
    padding-left: 150px;
    image size: 274px 240px;
}
.youtube{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.skills-container{
    padding: 40px;
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.skill-1{
    background-color: rgba(170, 170, 170, 0.05);
    padding: 40px 0px 40px 0px;
height: 200px;
width: 250px;
border-radius: 16px;
}
.skill-2{
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px 0px 40px 0px;
height: 200px;
width: 250px;
border-radius: 16px;
}
.skill-3{
    background-color:rgba(170, 170, 170, 0.05);
    padding: 40px 0px 40px 0px;
height: 200px;
width: 250px;
border-radius: 16px;
}
























